<div ng-include="'components/header/header.html'"></div>

<div class="container" data-ng-init="getPost()">
  <form role="form" ng-submit="updatePost()" >
    <div class="form-group">

          <label>Title</label>
          <input type="text" ng-model=post.title class="form-control">

    </div>
    <div class="form-group">
          <label>Content </label>
          <summernote height="300" ng-model=post.content></summernote>

    </div>

    <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
  </form>
</div>
<div ng-include="'components/footer/footer.html'"></div>
